.block {
  min-height: 40px;
  min-width: 40px;
  border-radius: 10px;
  background-color: blue;
}

.circle {
  min-height: 40px;
  min-width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 226, 172, 1);
}
