.btnContainer {
    margin: 10px 0px 10px 40px;

    .btn{
        display: flex;
        justify-content: center;
        padding: 0.6em 1.8em;
        margin: 0 0.6em 0.6em 0;
        border-radius: 6px;
        text-decoration: none;
        font-weight: 500;
        text-align: center;
        border: none;
        cursor: pointer;
        .icon{
            padding-right: 5px;
        }
        .colorBlue{
            color: blue
        }
    }
    .blueBtn {
        color: #ffffff;
        min-width: 200px;
        background-color: rgba(108, 93, 211, 1);
        &:focus{
            outline: none;
        }    
  }
    .blackBtn {
        color: #ffffff;
        min-width: 100px;
        background-color: rgba(27, 29, 33, 1);
        &:focus{
            outline: none;
        }    
  } 
    .wideBtn{
        width: 200px;
        border-radius: 10px;
    }
    .fadeGrayBtn {
        color: black;
        min-width: 100px;
        background-color: rgba(250, 250, 250, 1);
        div > svg > path{
            fill: blue;
        }
        &:focus{
            outline: none;
        }    
  }
}
