.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  .btnConatiner {
    .notificationBlackBtn {
      width: 200px;
    }
  }
  .bell {
    font-size: 22px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    &:hover {
      .innerCircle {
        z-index: -1;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        box-shadow: 0 0 0 3px rgba(227, 230, 236, 1);
        margin-top: -23px;
        margin-left: 5.3px;
      }
    }
    cursor: pointer;
    &.active {
      background-color: blue;
      color: white;
    }
  }
}
